/*
 * CORE FRAMEWORK
 * --------------
 * Contain classes that shouldn't be edited by the user and that shouldn't be overwritten
 * by any circumstance since it can lead to confusions and undesirable behavior.
 */


/* clearfix hack [http://j.mp/bestclearfix] */
.clearfix:before, .clearfix:after, .clearfix > .lastcol:after, .ffluid:after, br.cb{display:block; height:0 !important; line-height:0; overflow:hidden; visibility:hidden}
.clearfix:before, .clearfix:after{content:"."}
.clearfix:after{clear:both}
.clearfix, .ffluid{*zoom:1}

/* Nicole Sullivan zoom-fix hack [http://bit.ly/gpXFlK] */
.fcolholder:after, .fcolholder .lastcol:after, .ffluid:after{font-size:xx-large; content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.fcolholder .lastcol{display:table-cell; float:none; width:auto !important; *display:block; *zoom:1; _position:relative; _left:-3px; _margin-right:-3px}


/* -- columns -- */

.col{float:left}
.col-1_1{float:none; width:100%}
.col-1_2, .col-2_4, .col-3_6{width:50%}
.col-1_3, .col-2_6{width:33.33333%}
.col-2_3, .col-4_6{width:66.66666%}
.col-1_4{width:25%}
.col-3_4{width:75%}
.col-1_5{width:20%}
.col-2_5{width:40%}
.col-3_5{width:60%}
.col-4_5{width:80%}
.col-1_6{width:16.66667%}
.col-5_6{width:83.33333%}


/* -- image -- */

/* image replacement (borrowed from HTML5 boilerplate) */
.ir{text-indent:-999em; display:block; overflow:hidden; text-align:left; direction:ltr}


/* -- display -- */

.hidden{display:none !important}
.hidden, .invisible{visibility:hidden !important}


