
/* ========================= GENERAL TAGS ========================= */

/*
 * Favor classes over general selectors to increase flexibility of your code.
 *
 * Add a bare minimum styling using elements selectors and "enhance it" with classes.
 *
 * I don't recommend adding any other element selector to this list if you want flexibility,
 * in some cases it is even a good idea to remove all of them and just use classes.
 */

html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll; /* always show scrollbars */
    min-width: 1000px; /* update this value if it is a mobile site!! forces body BG to cover whole page */
}

body {
    background-color: #fff;
    color: #444;
    font-size: 12px;
    line-height: 1.5em;
}

p {
    margin: 1em 0;
}

small {
    font-size: 0.833em;
}

em,
i {
    font-style: italic
}

strong,
b {
    font-weight: bold;
}

code,
pre{
    font-family: monospace;
}

a {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    outline: none;
}

hr {
    background-color: #fff; border: 1px solid #fff;
    border-top: 1px solid #aaa;
    margin: 2em 0;
    clear: both;
}
