
/* --- font-styles --- */

/*
 * If your project have a regular structure it may be a good idea to add
 * default styles to the headings that match the same style of these classes,
 * see: https://github.com/stubbornella/oocss/blob/master/core/heading/heading.css
 * for reference. Not using this approach since in many of my projects having
 * defaults causes more problems than it solves (many projects have a loose structure).
 */
.h-1, .h-2, .h-3, .h-4, .h-5, .h-6{font-weight:bold; line-height:1em}
.h-1{font-size:2em; margin:.766em 0 .388em}
.h-2{font-size:1.6em; margin:.833em 0 .5em}
.h-3{font-size:1.4em; margin:1em 0 .666em}
.h-4{font-size:1.2em; margin:1.133em 0 .766em}
.h-5{font-size:1.1em; margin:1.2em 0 .833em}
.h-6{font-size:1em; margin:1.5em 0 1em}

.b{font-weight:bold}
.em{font-style:italic}
.big{font-size:1.166em}
.small{font-size:.833em}
.del{text-decoration:line-through}
