/* -- display -- */

.bss-dblock{display:block !important}
.bss-dinline{display:inline !important}
.bss-dnone{display:none !important}

.bss-transparent {
    -webkit-opacity: 0;
       -moz-opacity: 0;
         -o-opacity: 0;
            opacity: 0;
    -ms-filter: "alpha(opacity=0)";
        filter:  alpha(opacity=0);
}

.bss-opaque {
    -webkit-opacity: 1;
       -moz-opacity: 1;
         -o-opacity: 1;
            opacity: 1;
    -ms-filter: "alpha(opacity=100)";
        filter:  alpha(opacity=100);
}
