/*
 * RAPID DEVELOPMENT
 * -----------------
 * Non-semantic classes used for fast prototyping and development.
 * These classes **should be used with care** since they can reduce the flexibility and may lead to unsemantical markup.
 * They can reduce the delopment time a lot depending on the scenario helping you to DRY.
 */


/* -- floats -- */

/* using !important on these rules to ensure user won't override it - .fl should **NEVER** mean .fr !!! */
.fl{float:left !important; _margin-right:-3px}
.fr{float:right !important; _margin-left:-3px}
.ffluid{display:table-cell !important; *display:block; width:auto !important}
.cr{clear:right}
.cl{clear:left}
.cb{clear:both}


/* -- display -- */

.dblock{display:block}
.dinline{display:inline}
.dnone{display:none}

.transparent{-moz-opacity:0; -webkit-opacity:0; -o-opacity:0; opacity:0; -ms-filter:"alpha(opacity=0)"; filter:alpha(opacity=0)}
.opaque{-moz-opacity:1; -webkit-opacity:1; -o-opacity:1; opacity:1; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100)}


/* -- centering -- */

/* vertical centering technique [http://www.jakpsatweb.cz/css/css-vertical-center-solution.html] */
.vcenter{/* height of .vcenter element is required */ overflow:hidden; *position:relative; display:table; *display:block}
.vcenter .outer{display:table-cell; vertical-align:middle; width:100%; *position:absolute; *top:50%}
.vcenter .inner{*position:relative; *top:-50%}

.hcenter{/* width is required */ margin-left:auto !important; margin-right:auto !important}

.absmid{position:absolute; top:50%; left:50%}


/* -- text helpers -- */

.tcenter{text-align:center}
.tleft{text-align:left}
.tright{text-align:right}
.tupper{text-transform:uppercase}
.tlower{text-transform:lowercase}
.tnormal{text-transform:none}

.vatop{vertical-align:top}
.vamiddle{vertical-align:middle}
.vabottom{vertical-align:bottom}


/* -- interaction helpers -- */

.clickable, .btn{cursor:pointer}
.clickable.disabled, .btn.disabled{cursor:default !important; pointer-events:none}
