
/* ====================== STRUCTURE/CONTENT ====================== */

/*
 *
 * This is where you place the main structure of your pages, avoid using IDs as much as possible (favor classes),
 * specially for styling child elements (e.g. `#header li`) since it will probably create specificity nightmares
 * create a new class instead (e.g. `.headernav li`).
 *
 * I usually keep IDs for the #wrapper (wraps whole page content, gives more flexibility than using just the body tag), 
 * #header (main site header), #footer (main site footer), #content (main content area) and sometimes #sidebar, 
 * #mainnav and #subnav.
 *
 */

#wrapper{overflow:hidden; /* overflow is important for grid. that way we don't need to use classes like .last, .end, .omega or wrap each row into a different container or wrap .gridholder into another container */}

.innerwrapper{width:966px; margin:0 auto} 

